@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700&family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
}

/* .container {
  max-width: 1140px;
  padding: 20px;
  margin: 0 auto;
} */

.container-xl {
  max-width: 1400px;
  padding: 0 1em;
  margin: 0 auto;
}

p {
  line-height: 1.6;
  margin-bottom: 10px;
}

section {
  padding: 4rem 0;
/*    7rem 0 min:width: 40em;  */
}

.container {
  padding: 0 1em;
  max-width: 60rem;
  margin: 0 auto;
} 
